################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/LZ77/Release
/Release
/Debug
/LZ77/Debug
